@model SGPI.Models.TblUsuario

@{
    ViewData["Title"] = "Actualizar";
    Layout = "_LayoutSGPI";
}

<h1>Estudiante Actualizar</h1>

<center>
     <p>
    <nav class="navbar navbar-expand-sm bg-success navbar-light ">
        <b>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="">ACTUAlIZAR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Estudiante/Pagos">PAGOS</a>
            </ul>
        </b>
    </nav>
    <p>
</center>
<br>
<br>
<div style="text-align:right">
    <a href="/Administrador/login" id="regresar">Cerrar sesion</a>
</div>
<br>

<form method="post">


    <div class="container">

        <div class="row">

            <div class="col">
                <b> <label for="Tipo Cedula">Tipo Cedula</label> </b>
                @Html.DropDownList("Iddoc", new SelectList(ViewBag.TblTipoDocumento, "Iddoc","TipoDocumento"),
                new{@class="form-control dropdown"})
            </div>
        </div>
        <br />


        <div class="row">
            <div class="col">

                <b> <label for="NumeroDocumento">Numero Documento</label> </b>
                <input asp-for="NumeroDocumento" type="text" class="form-control col-sm-5" id="Document" placeholder="DOCUMENTO">
            </div>
            <br>
            <div class="col">
                <b> <label for="PrimerNombre">Primer Nombre</label> </b>
                <input asp-for="PrimerNombre" type="text" class="form-control col-sm-5" id="PRIMER_NOMBRE" placeholder="PRIMER NOMBRE">
            </div>
            <br>
            <div class="col">
                <b> <label for="SegundoNombre">Segundo Nombre</label> </b>
                <input asp-for="SegundoNombre" type="text" class="form-control col-sm-5" id="Segundo_Nombre" placeholder="SEGUNDO NOMBRE">

                <br>
            </div>
            <br />
            <br />
        </div>
        <div class="row">

            <div class="col">
                <b> <label for="PrimerApellido">Primer Apellido</label> </b>
                <input asp-for="PrimerApellido" type="text" class="form-control" id="Primer_Apellido" placeholder="PRIMER APELLIDO">
            </div>
            <br>
            <div class="col">
                <b> <label for="SegundoApellido">Segundo Apellido</label> </b>
                <input asp-for="SegundoApellido" type="text" class="form-control col-sm-5" id="SEGUNDO_APELLIDO" placeholder="SEGUNDO APELLIDO">
            </div>
            <br>
            <div class="col">
                <b> <label for="Email">Email</label> </b>
                <input asp-for="Email" type="text" class="form-control col-sm-10" id="email" placeholder="CORREO ELECTRONICO">
            </div>

        </div>
    </div>

    <br />
    <br />

    <div class="container">
        <div class="row">

            <div class="col">
                <b> <label for="Genero">Genero</label> </b>
                @Html.DropDownList("Idgenero", new SelectList(ViewBag.TblGenero, "Idgenero","Genero"),
                new{@class="form-control dropdown"})
            </div>


            <div class="col">
                <b> <label for="Programa">Programa</label> </b>
                @Html.DropDownList("Idprograma", new SelectList(ViewBag.TblPrograma, "Idprograma","Programa"),
                new{@class="form-control dropdown"})

            </div>
            <br>
            <br>

        </div>

        <br />
    </div>
    <br />
    <br />
    <center>
        <b><label for="password">Contraseña</label></b>
        <div class="input-group-addon">
            <input asp-for="VcPassword" type="password" class="form-control col-sm-5" id="password" placeholder="Contraseña" required />
        </div>
    </center>

    <br />
    <br />

    @if (ViewBag.Estudiante != null)
    {

        <h1>@ViewBag.Estudiante</h1>

    }
    <br>
    <div>
        <center> <button type="submit" id="btnCrear_Usuario" value="ACTUALIZAR USUARIO" class="btn btn-success"> ACTUALIZAR USUARIO </button> </center>
        <br />

    </div>


</form>

