@model SGPI.Models.TblUsuario
@{
    ViewData["Title"] = "CrearUsuario";

}

<h1>CREAR USUARIO</h1>

<div class="container">
    <center>

        <nav class="navbar navbar-expand-sm bg-success navbar-light">
            <b>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Administrador/CrearUsuario">CREAR USUARIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Administrador/BuscarUsuario">BUSCAR USUARIO</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Administrador/EliminarUsuario">ELIMINAR USUARIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Administrador/EditarUsuario">MODIFICAR USUARIO</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Administrador/Reporte">REPORTE</a>
                    </li>

                </ul>
            </b>
        </nav>
    </center>

    <div style="text-align:right">
        <a href="/Administrador/login" id="regresar">Cerrar sesion</a>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col">

            <select name="TIPO DE DOCUMENTO" id="DOUMENTO ENTIDAD">
                <option value="r">DOUMENTO ENTIDAD</option>
                <option value="r">CEDULA DE CIUDADANIA</option>
                <option value="a">CEDULA EXTRANJERIA</option>
                <option value="v">TARJETA DE ENTIDAD</option>
                <option value="v">PASAPORTE</option>
                <option value="v">NIT</option>
            </select>
        </div>



    </div>

    <br />

    <div class="container">

        <div class="row">

            <div class="col">
                <input asp-for="NumeroDocumento" type="text" class="form-control" id="Document" placeholder="DOCUMENTO" name="email">
            </div>

            <div class="col">
                <input asp-for="PrimerNombre" type="text" class="form-control" id="PRIMER_NOMBRE" placeholder="PRIMER NOMBRE" name="email">
            </div>

            <div class="col">
                <input asp-for="SegundoNombre" type="text" class="form-control" id="Segundo_Nombre" placeholder="SEGUNDO NOMBRE" name="email">
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col">
                <input asp-for="PrimerApellido" type="text" class="form-control" id="Primer_Apellido" placeholder="PRIMER APELLIDO" name="email">
            </div>
            <div class="col">
                <input asp-for="SegundoApellido" type="text" class="form-control" id="SEGUNDO_APELLIDO" placeholder="SEGUNDO APELLIDO" name="email">
            </div>
            <div class="col">
                <input asp-for="Email" type="text" class="form-control" id="email" placeholder="CORREO ELECTRONICO" name="email">
            </div>

        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">

            <div class="col">
              

        
                <select name="GENERO" id="GENERO" style="margin-left:inherit">
                    <option value="r">GENERO</option>
                    <option value="r">MASCULINO</option>
                    <option value="a">FEMENINO</option>
                    <option value="v">OTRO </option>

                </select>
                
            </div>


            <div class="col">
                <select name="ROL" id="ROL">
                    <option value="r">ROL</option>
                    <option value="r">ADMINISTRADOR</option>
                    <option value="a">ESTUDIANTE</option>

                </select>
            </div>


            <div class="col">
                <select name="ESPECIALIDAD" id="ESPECIALIDAD">
                    <option value="r">PROGRAMAS</option>
                    <option value="r">ESPECIALIZACION SI </option>
                    <option value="a">MAESTRIA EN MEDIO AMBIENTE</option>

                </select>
            </div>
        </div>



    </div>
    <br />
    <br />
    <br />
    <br />
    <center> <input type="submit" id="btnCrear_Usuario" value="CREAR USUARIO" class="btn btn-success" /></center>
</div>