@{
    ViewData["Title"] = "Informe";
}

<h1> REPORTE  </h1>

<center>

        <nav class="navbar navbar-expand-sm bg-success navbar-light ">
                <b>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Administrador/CrearUsuario">CREAR USUARIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Administrador/BuscarUsuario">BUSCAR USUARIO</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Administrador/EliminarUsuario">ELIMINAR USUARIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Administrador/EditarUsuario">MODIFICAR USUARIO</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Administrador/Reporte">REPORTE</a>
                </li>
            </ul>
                </b>
        </nav>
</center>
<br>
<div style="text-align:right">
    <a href="/Administrador/login" id="regresar">Cerrar sesion</a>
</div>

<br>

<div class="tab-content">
    <form>
        <div class="row">
            <div class="col">

                <select name="TIPO DE DOCUMENTO" id="DOCUMENTO ENTIDAD">
                    <option value="r">DOCUMENTO ENTIDAD</option>
                    <option value="r">CEDULA DE CIUDADANIA</option>
                    <option value="a">CEDULA EXTRANJERIA</option>
                    <option value="v">TARJETA DE ENTIDAD</option>
                    <option value="v">PASAPORTE</option>
                    <option value="v">NIT</option>
                </select>
            </div>
        </div>


        <br>


        <div class="input-group">
            <br>
            <input type="text" placeholder="1035581599" id="busquedatxt" class="form-control" required />
            &nbsp; &nbsp; &nbsp;
            <input type="button" class="btn btn-outline-success" value="Buscar" />
            &nbsp; &nbsp; &nbsp;

        </div>



        <br />
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>PRIMER NOMBRE</th>
                    <th>SEGUNDO NOMBRE</th>
                    <th>PRIMER APELLIDO</th>
                    <th>SEGUNDO APELLIDO</th>
                    <th>GENERO</th>
                    <th>DOCUMENTO</th>
                    <th>PROGRAMA</th>
                    <th>ROL</th>
                    <th>CORREO </th>
                </tr>
            </thead>
            <tbody id="myTable">
                <tr>
                    <td>Yuli</td>
                    <td>Andrea</td>
                    <td>Silva</td>
                    <td>Muñoz</td>
                    <td>Femenina</td>
                    <td>1035581599</td>
                    <td>Tecnologia</td>
                    <td>Estudiante</td>
                    <td>yuli.silva@correo.tdea.edu.com</td>
                </tr>

                <tr>
                    <td>- </td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td>- </td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td>- </td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>


            </tbody>
        </table>
    </form>
</div>

<br />
<br>
